* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

ul {
    list-style: none;
}

.custom-required {
    padding-right: 15px;
    position: relative;
    display: inline-block;
}

.custom-required::after {
    content: "*";
    display: inline-block;
    position: absolute;
    top: 0px;
    color:#444444;

    right: 4px;
    font-size: 12px;
}

.br-22 {
    border-radius: 22px !important;
}

.br-20 {
    border-radius: 20px !important;
}
.br-12{
    border-radius: 12px !important;
}
.br-16 {
    border-radius: 16px !important;
}
.mb-60{
    margin-bottom: 60px !important;
}
.icon-para {
    background: #fafafa;

    left: 0px;
    top: 24px;
    border-radius: 16px;
    padding: 41px 9px 32px;
    
}

.fs-10 {
    font-size: 10px !important;
}

.fs-30 {
    font-size: 30px !important;
}

.fs-20 {
    font-size: 20px !important;
}

.dropdown-toggle::after {

    color: #fff;
}

.nav-responsive-bg {

    background-color: #fff ! important;
}

.bg-purple {
    background: #4739E6 !important;

}

.fs-18 {
    font-size: 18px !important;
}

.lh-28 {
    line-height: 28px !important;
}

.fs-24 {
    font-size: 24px !important;
}

.bg-black {
    background-color: #0A0A0A;

}

.half-a-border-on-top {
    position: relative;
}

.half-a-border-on-top:after {
    content: "";
    display: block;
    margin: auto;
    width: 58px;
    height: 9px;
    position: absolute;
    left: 0;
    right: 0;
    top: -21px;
    background: #66ED78;
    
}
.position-rel{
    position: relative;
}
.feature-icon{
    position: absolute;
  
    left: -13px;
    top: -43px;
    right: 0px;
    bottom: 0px;
}
.support-section {

    padding: 47px;
    background: #F5F5FC;
    left: 0px;
    top: 0px;
    border-radius: 16px;
    padding: 32px;
}

.ls-1 {
    letter-spacing: 1px !important;
}

.fs-40 {
    font-size: 40px !important;
}
.fs-18{
    font-size: 18px !important;
}
.fs-30 {
    font-size: 30px !important;
}

.fs-54 {
    font-size: 54px !important;
}

.fs-22 {
    font-size: 22px !important;
}

.hero-section {
    background: #0B0925;
    padding-bottom: 74px;
}

.text-dark-grey {
    color: #444444 !important
}

.text-light-grey,
.footer-sec>li>a {
    color: #666666 ! important;
}

.login-shadow {
    background: linear-gradient(26.84deg, #1D2939 -0.64%, #344054 91.6%);
    padding: 35px;
    border-radius: 24px;
    margin-top: 28px;
}

.word-break {
    word-break: break-word;
}

.btn-outline-secondary:hover {
    background-color: #4739E6;
}
 .text-deco{
    text-decoration: none;
 }
.scrollToTopBtn {
    position: fixed;
    right: 20px;
    bottom: 54px;
    border: none;
    cursor: pointer;
    height: 45px;
    width: 45px;
    line-height: 40px;
    border-radius: 50%;
    background-color: #EFEFF7;
    display: none;
    z-index: 999;
}

.ced-footer .footer-links,
.ced-footer .social-icons {
    display: block;
    font-size: 14px;
    color: #666;

}

.ced-footer .footer-links {
    margin: 12px 0;
}

.copyright-wrap {
    padding: 10px;
    background-color: #000000;
}

.footer-heading {
    font-size: 18px;
    color: #000000;

}

@media only screen and (min-width: 992px) {
    .ced-footer {
        padding-top: 80px;
    }
}


@media only screen and (max-width: 991px) {
    .ced-footer {
        padding-top: 50px;
    }
}




@media only screen and (min-width: 576px){
.footer-bottom .custom-border {
    border-top: 1px solid #dee2e6;
}
}


.ced-footer-bg {
    background-image: url('/asset/images/footer-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.ced-footer .social-icons {
    position: relative;
    border-radius: 15px;
    padding: 5px 5px 5px 50px;
}

.ced-footer .social-icons, .ced-footer .app-links {
    flex: 0 0 43%;
    min-width: 43%;
    margin-right: 15px;
    margin-bottom: 20px;
}

.ced-footer .social-icons::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.footer-top .facebook::before {
    background-image: url('/asset/images/facebook.png');
}
.footer-top .youtube::before {
    background-image: url('/asset/images/youtube.png');
}
.footer-top .instagram::before {
    background-image: url('/asset/images/instagram.png');
}
.footer-top .linkedin::before {
    background-image: url('/asset/images/linkedin.png');
}
.footer-top .twitter::before {
    background-image: url('/asset/images/twitter.png');
}